{{define "home"}}
    {{template "base"}} <!-- extends base -->
    {{define "title"}}Home{{end}}
    {{define "content"}}
        <h1>Hello, {{.User}}!</h1> <!-- inject dynamic content -->
    {{end}}
{{end}}